@model CommsPayDeveloperWeb.Presentation.Response.TransactionAppResponse<CommsPayDeveloperWeb.Presentation.Response.PaypointDashboardResponse>
@using System.Globalization
@{
    if (Model != null)
    {
        if (Model.Value != null)
        {
            var data = Model.Value;
            <div class="row match-height">
                <!-- Goal Overview Card -->
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Account Overview</h4>
                            <i data-feather="star" class="font-medium-3 text-muted cursor-pointer"></i>
                        </div>
                        <div class="card-body p-0">
                            <div class="row border-top text-center mx-0">
                                <div class="col-12 border-end py-1">
                                    <p class="card-text text-muted mb-0">Acount name</p>
                                    <h4 class="fw-bolder mb-0">@data.PaypointAccountDetails.AccountName</h4>
                                </div>
                            </div>
                            <div class="row border-top text-center mx-0">
                                <div class="col-6 py-1">
                                    <p class="card-text text-muted mb-0">Account number</p>
                                    <h4 class="fw-bolder mb-0">@data.PaypointAccountDetails.AccountNumber</h4>
                                </div>
                                <div class="col-6 border-end py-1">
                                    <p class="card-text text-muted mb-0">Bank name</p>
                                    <h4 class="fw-bolder mb-0">@data.PaypointAccountDetails.BankName</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Goal Overview Card -->
                <!-- Goal Overview Card -->
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Transaction Overview</h4>
                            <i data-feather="star" class="font-medium-3 text-muted cursor-pointer"></i>
                        </div>
                        <div class="card-body p-0">
                            <div class="row border-top text-center mx-0">
                                <div class="col-12 border-end py-1">
                                    <p class="card-text text-muted mb-0">Today's transaction</p>
                                    <h4 class="fw-bolder mb-0">&nbsp;&nbsp;&nbsp;</h4>
                                </div>
                            </div>
                            <div class="row border-top text-center mx-0">
                                <div class="col-6 border-end py-1">
                                    <p class="card-text text-muted mb-0">Total Received</p>
                                    @{
                                        if (data.TotalReceived > 999999999)
                                        {
                                            <h4 class="fw-bolder mb-0">&#8358; @data.TotalReceived.ToString("0,,,.###B", CultureInfo.InvariantCulture)</h4>
                                        }
                                        else if (data.TotalReceived > 999999)
                                        {
                                            <h4 class="fw-bolder mb-0">&#8358; @data.TotalReceived.ToString("0,,.##M", CultureInfo.InvariantCulture)</h4>
                                        }
                                        else if (data.TotalReceived > 99999 && data.TotalReceived <= 999999)
                                        {
                                            <h4 class="fw-bolder mb-0">&#8358; @data.TotalReceived.ToString("#,##0,K", CultureInfo.InvariantCulture)</h4>
                                        }
                                        else
                                        {
                                            <h4 class="fw-bolder mb-0">&#8358; @string.Format("{0:n}", data.TotalReceived).Split(".")[0]</h4>
                                        }
                                    }
                                </div>
                                <div class="col-6 py-1">
                                    <p class="card-text text-muted mb-0">Transaction Count</p>
                                    @{
                                        if (data.TransactionCount > 999999999)
                                        {
                                            <h4 class="fw-bolder mb-0">@data.TransactionCount.ToString("0,,,.###B", CultureInfo.InvariantCulture)</h4>
                                        }
                                        else if (data.TransactionCount > 999999)
                                        {
                                            <h4 class="fw-bolder mb-0">@data.TransactionCount.ToString("0,,.##M", CultureInfo.InvariantCulture)</h4>
                                        }
                                        else if (data.TransactionCount > 99999 && data.TransactionCount <= 999999)
                                        {
                                            <h4 class="fw-bolder mb-0">@data.TransactionCount.ToString("#,##0,K", CultureInfo.InvariantCulture)</h4>
                                        }
                                        else
                                        {
                                            <h4 class="fw-bolder mb-0">@string.Format("{0:n}", data.TransactionCount).Split(".")[0]</h4>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ Goal Overview Card -->
                <!-- Goal Overview Card -->
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="card-title">Last Transaction</h4>
                            <i data-feather="star" class="font-medium-3 text-muted cursor-pointer"></i>
                        </div>
                        <div class="card-body p-0">
                            <div class="row border-top text-center mx-0">
                                <div class="col-12 border-end py-1">
                                    <p class="card-text text-muted mb-0">Today's 'Last transaction</p>
                                    <h3 class="fw-bolder mb-0">&nbsp;&nbsp;&nbsp;</h3>
                                </div>
                            </div>
                            @{
                                if (data.LastTransaction.LastTransactionAmount != null)
                                {
                                    <div class="row border-top text-center mx-0">
                                        <div class="col-6 py-1">
                                            <p class="card-text text-muted mb-0">Sender name</p>
                                            <h3 class="fw-bolder mb-0">@(data.LastTransaction.LastTransactionName??"NA")</h3>
                                        </div>
                                        <div class="col-6 border-end py-1">
                                            <p class="card-text text-muted mb-0">Amount</p>
                                            @{
                                                if (data.LastTransaction.LastTransactionAmount > 999999999)
                                                {
                                                    <h4 class="fw-bolder mb-0">&#8358; @data.LastTransaction.LastTransactionAmount.Value.ToString("0,,,.###B", CultureInfo.InvariantCulture)</h4>
                                                }
                                                else if (data.LastTransaction.LastTransactionAmount > 999999)
                                                {
                                                    <h4 class="fw-bolder mb-0">&#8358; @data.LastTransaction.LastTransactionAmount.Value.ToString("0,,.##M", CultureInfo.InvariantCulture)</h4>
                                                }
                                                else if (data.LastTransaction.LastTransactionAmount > 99999 && data.LastTransaction.LastTransactionAmount <= 999999)
                                                {
                                                    <h4 class="fw-bolder mb-0">&#8358; @data.LastTransaction.LastTransactionAmount.Value.ToString("#,##0,K", CultureInfo.InvariantCulture)</h4>
                                                }
                                                else
                                                {
                                                    <h4 class="fw-bolder mb-0">&#8358; @string.Format("{0:n}", data.LastTransaction.LastTransactionAmount.Value).Split(".")[0]</h4>
                                                }
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="row border-top text-center mx-0">
                                        <div class="col-12 border-end py-1">
                                            <p class="card-text text-muted mb-0">Transaction</p>
                                            <h4 class="fw-bolder mb-0">No new transaction</h4>
                                        </div>
                                    </div>

                                }
                            }
                        </div>
                    </div>
                </div>
                <!-- Greetings Card ends -->

                <div class="row match-height">
                    <!-- Company Table Card -->
                    <div class="col-lg-12 col-12">
                        <div class="card card-company-table">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <h6 class="card-title">Last 10 Trasactions Today</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Transaction Reference</th>
                                                <th>Timestamp</th>
                                                <th>Sender Name</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                if (data.Last10Transaction.Count() > 0)
                                                {
                                                    foreach (var item in data.Last10Transaction)
                                                    {
                                                        <tr>
                                                            <td>@item.TransactionReference</td>
                                                            <td>@item.TransactionDate.ToString("yyyy-MM-dd hh:mm:ss")</td>
                                                            <td>@(item.SourceAccountName??"NA")</td>
                                                            <td>
                                                                @{
                                                                    if (item.TransactionType.ToString() == "Credit")
                                                                    {
                                                                        <span class="text-success">NGN @string.Format("{0:n}", item.Amount)</span>
                                                                    }
                                                                    else if (item.TransactionStatus.ToString() == "Debit")
                                                                    {
                                                                        <span class="text-danger">NGN @string.Format("{0:n}", item.Amount)</span>
                                                                    }
                                                                }
                                                            </td>
                                                            <td>
                                                                @{
                                                                    if (item.TransactionStatus.ToString() == "Successful")
                                                                    {
                                                                        <span class="badge badge-glow bg-success">Successful</span>
                                                                    }
                                                                    else if (item.TransactionStatus.ToString() == "Failed")
                                                                    {
                                                                        <span class="badge badge-glow bg-danger">Failed</span>
                                                                    }
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td class="text-center text-muted" colspan="5">No transaction received today</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Company Table Card -->
                </div>
                <!-- Goal Overview Card -->
            </div>
        }
        else
        {
            <div class="misc-inner p-2 p-sm-3">
                <div class="w-100 text-center">
                    <h2 class="mb-1">No information found 🕵🏻‍♀️</h2>
                    <p class="mb-2">Oops! 😖 no information found for the request.</p>
                    <img width="200" class="img-fluid" src="~/app-assets/images/pages/no-data.svg?00" alt="Error page" />
                    <div class="col-12 mt-4">
                        <a class="btn btn-primary mb-2 btn-sm-block" href="/dashboard">Reload</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="misc-inner p-2 p-sm-3">
            <div class="w-100 text-center">
                <h2 class="mb-1">No information found 🕵🏻‍♀️</h2>
                <p class="mb-2">Oops! 😖 no information found for the request.</p>
                <img width="200" class="img-fluid" src="~/app-assets/images/pages/no-data.svg?00" alt="Error page" />
                <div class="col-12 mt-4">
                    <a class="btn btn-primary mb-2 btn-sm-block" href="/dashboard">Reload</a>
                </div>
            </div>
        </div>
    }
}
<!-- Paypoint Dashboard -->